
body {
  background-color: #343a40;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  cursor: pointer;
}
#catalogo img{
  max-height: 100%;
  max-width: 100%;
}
#catalogo a{
  color: #fff;
  font-weight: bold;
}
td{
  background-color: green;
  color: white;
}
td.ocupado {
  background-color: red;
}

nav a:hover {
  color: #1345D8 !important;
  font-weight: bold;
  text-decoration: underline;
}

#navbar-buttons span, #navbar-buttons i {
  color: #1345D8;
}

#navbar-buttons i {
  margin-left: 2rem;
}

@media (min-width: 768px) {
  
}



@media (max-width: 768px) {
  
}
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.lista-habilidades{
  display: flex;
  list-style: none;
  justify-content: left;
}
.lista-habilidades li{
  margin-right: 1em;
}
.card{
  width: 10rem;
}
.card-img-top{

  width: 12.5rem;
}
.nav-link{
  text-transform: uppercase;
}